.userForm{
    background-color: greenyellow;
    margin: 15px;
    margin-left: 41%;
}

*{box-sizing:border-box;}


form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
    background-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

button {
    margin: 6px;
    color: #ffffff;
    background-color: #24cf5f;
    padding: 12px 25px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
    outline: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    transition: all .2s; }
    button:hover, button:active, button:focus {
      -ms-transform: scale(1.1);
          transform: scale(1.1); }
  
  button--transparent {
    background: transparent;
    border: 0;
    outline: 0; }
  
  button--close {
    position: absolute;
    top: 10px;
    left: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 30px;
    height: 30px;
    color: #ffffff;
    border-radius: 50%;
    transition: all .25s;
    z-index: 10; }
    button--close svg {
      width: 20px;
      height: 20px; }
      button--close svg * {
        fill: currentColor; }
    button--close:hover, button--close:active, button--close:focus {
      color: #fbcf34;
      background-color: #ffffff;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); }
  
  button--info {
    position: absolute;
    top: 0;
    right: 0; }
  
input {
    width: calc(100% - 10px);
    min-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: .5px;
    border: 0;
    border-bottom: 2px solid #f0f0f0; 
}
    input:valid {
      border-color: #24cf5f; }
    input:focus {
      outline: none;
      border-color: #fbcf34; 
    }